[Unit]
Description=Sync ~/Tools to Google drive
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/shylock/sh/sync-tools.sh
Type=simple
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
