[user]
	email = tcath2s@icloud.com
	name = Shylock Hg
	signingkey = 18801E0F5D21AD45
[color]
	ui = auto
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[core]
	editor = "emacsclient -c -a emacs"
	excludesfile = /home/shylock/.gitignore.global
[gitlab]
	user = shylock
[gitlab "work-wsl:9000/api/v4"]
	user = shylock
[forge]
	remote = forge
[url "ssh://git@work-wsl:"]
	insteadOf = work-gl:
