name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '30 0 * * *'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        docker build . --file docker/Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/opensuse
        if echo "${{ secrets.DOCKER_ACK }}" | docker login -u  ${{ secrets.DOCKER_USERNAME }} --password-stdin; then
            docker push ${{ secrets.DOCKER_USERNAME }}/opensuse
        fi
